@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}
/* shared style */
.orange{
  color: orange;
}
.skyblue{
  color: rgb(1, 172, 253)
}
/* header section css */
.header {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 0px auto;
  padding-top: 10px;
  background-color: white;
}
nav {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
.brand-img {
  height: 40px;
  width: 40px;
}
.brand-img img {
  height: 100%;
  width: 100%;
}

.nav-btn ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-btn ul li {
  list-style-type: none;
}
.nav-btn ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
}

#btn-1 {
  color: rgb(254, 163, 1);
}
#btn-2 {
  color: rgb(1, 172, 253);
}
#btn-3 {
  color: rgb(5, 212, 223);
}
#btn-4 {
  color: rgb(93, 88, 239);
}

.contact {
  height: auto;
  width: auto;
  padding: 8px 30px;
  background-color: rgb(254, 163, 1);
  border: 1px solid orange;
  border-radius: 8px;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  transition: ease-in-out 0.3s;
}
.contact:hover {
  background-color: white;
  color: orange;
}

.ham-menu {
  display: none;
}

.banner-section {
  height: 500px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-text{
  height: 50%;
  width: 50%;
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.banner-text h1{
  font-size: 2.8rem;
}
.banner-text p{
  font-size: 1.10rem;
  font-weight: 400;
}
.banner-img{
  height: 100%;
  width: 40%;
}
.banner-img img{
  height: 100%;
  width: 100%;
}
.banner-btn button{
  height: auto;
  width: auto;
  padding: 10px 15px;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid black;
}
.banner-btn button:hover{
  background-color: white;
  color: black;
  transition: ease-in-out .3s;

}

/* mobile device responsive */
@media screen and (max-width: 576px) {
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  .header {
    max-width: 100%;
  }
  nav {
    padding-bottom: 10px;
    padding: 10px 20px;
  }
  .ham-menu {
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.23rem;
    transition: ease-in-out 0.3s;
  }
  .ham-menu:hover {
    background-color: #e4e2e2;
  }
  .brand-img {
    height: 40px;
    width: 40px;
  }
  .brand-img img {
    height: 100%;
    width: 100%;
  }
  .line {
    height: 1px;
    width: 100%;
    background-color: rgb(254, 163, 1);
  }

}
