@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}
/* shared style */
.orange {
  color: orange;
}
.skyblue {
  color: rgb(1, 172, 253);
}

/* header section css */
.header {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 0px auto;
  padding-top: 10px;
  background-color: white;
}
nav {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
.brand-img {
  height: 40px;
  width: 40px;
}
.brand-img img {
  height: 100%;
  width: 100%;
}

.nav-btn ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-btn ul li {
  list-style-type: none;
}
.nav-btn ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
}

#btn-1 {
  color: rgb(254, 163, 1);
}
#btn-2 {
  color: rgb(1, 172, 253);
}
#btn-3 {
  color: rgb(5, 212, 223);
}
#btn-4 {
  color: rgb(93, 88, 239);
}

.contact {
  height: auto;
  width: auto;
  padding: 8px 30px;
  background-color: rgb(254, 163, 1);
  border: 1px solid orange;
  border-radius: 8px;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  transition: ease-in-out 0.3s;
}
.contact:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
}

.ham-menu {
  display: none;
}

.banner-section {
  height: 500px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-text {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner-text h1 {
  font-size: 2.8rem;
}
.banner-text p {
  font-size: 1.1rem;
  font-weight: 600;
}
.banner-img {
  height: 100%;
  width: 40%;
}
.banner-img img {
  height: 100%;
  width: 100%;
}
.banner-btn button {
  height: auto;
  width: auto;
  padding: 10px 15px;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid black;
}
.banner-btn button:hover {
  background-color: white;
  color: black;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

/* curriculum section css */
.main {
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}
.curriculum {
  height: auto;
  width: 100%;
  padding: 30px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-image: url("../assets/bg.png");
  background-size: 100%;
}
.curriculum h1 {
  font-size: 2.5rem;
}
.curri-card-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}
.curri-card {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  gap: 20px;
  padding: 30px 50px;
  border-radius: 10px;
  text-align: center;
}

.img-box-c {
  height: 40%;
  width: 30%;
}
.img-box-c img {
  height: 100%;
  width: 100%;
}
#card-1 {
  background-color: white;
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
#card-2 {
  background-color: white;
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
#card-3 {
  background-color: white;
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.curri-card p {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(128, 128, 128);
}

.btn-con button {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  font-weight: 700;
}

#con-1 button {
  color: rgb(100, 200, 255);
}
#con-2 button {
  color: rgb(240, 170, 0);
}
#con-3 button {
  color: rgb(135, 0, 255);
}

#con-1 button:hover,
#con-2 button:hover,
#con-3 button:hover {
  color: black;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.rl-nav {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.rl {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: orange;
  border: 1px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}
.rl:hover {
  background-color: white;
  color: plum;
  transition: ease-in-out 0.3s;
  border: 1px solid plum;
  cursor: pointer;
}

/* story section css */
.stories {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 5%;
  background: url("../assets/bg.png"),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.1) 80%);
  background-size: 100%;
}
.stories h1 {
  font-size: 2.5rem;
}
.story-card-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 20px;
}

.story-card {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  gap: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 20px;
}
.four-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#big-card {
  height: auto;
  grid-row: span 2;
}
#big-card p {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(102, 102, 102);
}

.story-img-box {
  height: 70%;
  width: 100%;
  border-radius: 10px;
}
.story-img-box img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.story-text {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.storySec-btn button {
  height: auto;
  width: auto;
  padding: 10px 25px;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid black;
}
.storySec-btn button:hover {
  background-color: white;
  color: black;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.hide-main {
  display: none;
}

.date-banner {
  height: 35px;
  width: 150px;
  background-color: blanchedalmond;
  border-radius: 20px;
  padding: 10px 10px;
  position: relative;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-left: 25px;
}

.date-banner p {
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
}
#date-1 {
  background-color: rgb(60, 216, 232);
}
#date-1 p {
  font-size: 0.8rem;
  color: white;
}
#date-2 {
  background-color: rgb(149, 178, 38);
}
#date-3 {
  background-color: rgb(93, 88, 240);
}

.footer {
  height: auto;
  width: 100%;
  background-color: rgb(1, 172, 253);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px 50px;
  gap: 20px;
  margin-top: 30px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding: 0 40px;
}
.fbox {
  display: flex;
  align-items: center;
}
.fbox h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}
.img-foot {
  height: 60px;
  width: 60px;
}
.img-foot img {
  height: 100%;
  width: 100%;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
  padding: 0 40px;
}
.links div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding: 2px auto;
}
.links ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.links ul li {
  list-style-type: none;
}
.links ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

/* mobile device responsive */
@media screen and (max-width: 576px) {
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  .header {
    max-width: 100%;
  }
  nav {
    padding-bottom: 10px;
    padding: 10px 20px;
  }
  .ham-menu {
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.23rem;
    transition: ease-in-out 0.3s;
  }
  .ham-menu:hover {
    background-color: #e4e2e2;
  }
  .brand-img {
    height: 40px;
    width: 40px;
  }
  .brand-img img {
    height: 100%;
    width: 100%;
  }
  .line {
    height: 1px;
    width: 100%;
    background-color: rgb(254, 163, 1);
  }

  /* banner responsive */
  .banner-section {
    height: auto;
    flex-direction: column-reverse;
    padding: 0px 20px;
    gap: 30px;
  }
  .banner-img {
    height: auto;
    width: 100%;
  }
  .banner-img img {
    height: 100%;
    width: 100%;
  }
  .banner-text {
    height: 400%;
    width: 100%;
    text-align: center;
  }
  .banner-text h1 {
    font-size: 2rem;
  }

  /* curriculum section responsive */

  .curriculum h1 {
    font-size: 1.75rem;
  }
  .curri-card-container {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  /* story section responsive */
  .story-card-container {
    display: block;
  }
  #big-card {
    display: none;
  }
  .four-card-container {
    display: grid;
    gap: 5px;
    row-gap: 20px;
  }
  .story-img-box {
    height: 50%;
  }
  #res {
    padding-top: 30px;
  }

  .date-banner {
    height: 30px;
    width: 130px;
    margin-left: 10px;
  }


  /* footer responsive css */

  .footer{
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 5px;
    gap: 50px;
  }
  .text{
    padding: 0 20px;
  }
  .text p{
    font-size: 1.25rem;
    font-weight: 600;
  }
  .links {
    padding: 0 20px;
    align-items: flex-start;
  }
  .links div h3{
    font-size: 1.5rem;
  }
  .links ul li a {

    font-size: 1.25rem;

  }
  .socials {
    padding: 0 20px;
  }
  .socials h3{
    font-size: 1.5rem;
  }
}
